<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>

    <%- include('widgets/user-info',{
      isMe
    })%>
    <%- include('widgets/blog-list',{
      blogList
    })%>
  </body>
</html>
